<a href="https://colab.research.google.com/github/jsjj10002/Python_Basic/blob/main/ch04_2example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calc(v1, v2, op):
  result = 0
  if op == '+':
    result = v1 + v2
    elif op == '-':
      result = v1 - v2
    elif op == '*':
      result = v1 * v2
    elif op == '/':
      result = v1/v2
    return result

In [1]:
def func1():
  a =10
  print(a)
def func2():
  print(a)
a=20
func1()
func2()

10
20

In [2]:
def func1():
  global a
  a =10
  print(a)
def func2():
  print(a)
a=20
func1()
func2()

10
10

In [3]:
def func1():
  result =100
  return result
def func2():
  print("반환 없")
hap = func1()
print(hap)
func2()

100
반환 없

In [4]:
def multi(v1,v2):
  retlist =[]
  res1 = v1+v2
  res2 = v1-v2
  retlist.append(res1)
  retlist.append(res2)
  return retlist

mylist = multi(100,200)
print(mylist)

[300, -100]

In [6]:
def para2_func(v1,v2):
  result = 0
  result = v1 +v2
  return result
def para3_func(v1,v2,v3):
  result = 0
  result = v1 +v2+v3
  return result
hap = para2_func(10,20)
print(hap)
print(para3_func(10,20,30))

30
60

In [9]:
# prompt: 1부터 46까지 수중에 랜덤 6개 뽑은 후 오름차순 정렬해  추첨된 로또 번호 출력 랜덤 숫자 뽑는 함수 만들고 리스트에 할당시킨 후 와일문을 이용

import random

def generate_lotto_numbers():
  numbers = []
  while len(numbers) < 6:
    number = random.randint(1, 46)
    if number not in numbers:
      numbers.append(number)
  return sorted(numbers)

lotto_numbers = generate_lotto_numbers()
print("추첨된 로또 번호:", lotto_numbers)

추첨된 로또 번호: [13, 17, 19, 21, 40, 42]