<a href="https://colab.research.google.com/github/jsjj10002/Python_Basic/blob/main/ch06_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
inFp = open("/content/drive/MyDrive/11주차_수업자료/singer1.csv","r",encoding="CP949")

inStr=inFp.readline()
print(inStr,end="")
inStr=inFp.readline()
print(inStr,end="")
inFp.close()

아이디,이름,인원,주소,국번,전화 번호,평균 키,데뷔 일자
TWC,트와이스,9,서울,02,11111111,167,2015.10.19

In [ ]:
with open("/content/drive/MyDrive/11주차_수업자료/singer1.csv","r",encoding="CP949") as inFp :
    inStr=inFp.readline()
    print(inStr,end="")
    inStr=inFp.readline()
    print(inStr,end="")

아이디,이름,인원,주소,국번,전화 번호,평균 키,데뷔 일자
TWC,트와이스,9,서울,02,11111111,167,2015.10.19

In [ ]:
def printList(pList):
    for data in pList:
        print("%-10s"%data, end = '\t')
    print()
with open("/content/drive/MyDrive/11주차_수업자료/singer1.csv","r",encoding="CP949") as inFp :
    header = inFp.readline()
    header = header.strip()
    header_list = header.split(',')
    printList(header_list)
    for inStr in inFp:
        inStr = inStr.strip()
        row_list = inStr.split(',')
        printList(row_list)

아이디       	이름        	인원        	주소        	국번        	전화 번호     	평균 키      	데뷔 일자
TWC       	트와이스      	9         	서울        	02        	11111111  	167       	2015.10.19
BLK       	블랙핑크      	4         	경남        	055       	22222222  	163       	2016.08.08
WMN       	여자친구      	6         	경기        	031       	33333333  	166       	2015.01.15
OMY       	오마이걸      	7         	서울        	          	          	160       	2015.04.21
GRL       	소녀시대      	8         	서울        	02        	44444444  	168       	2007.08.02
ITZ       	있지        	5         	경남        	          	          	167       	2019.02.12
RED       	레드벨벳      	4         	경북        	054       	55555555  	161       	2014.08.01
APN       	에이핑크      	6         	경기        	031       	77777777  	164       	2011.02.10
SPC       	우주소녀      	13        	서울        	02        	88888888  	162       	2016.02.25
MMU       	마마무       	4         	전남        	061       	99999999  	165       	2014.06.19

In [ ]:
with open("/content/drive/MyDrive/11주차_수업자료/singer1.csv","r",encoding="CP949") as inFp :
    with open("/content/drive/MyDrive/11주차_수업자료/new_singer1.csv","w",encoding="CP949") as outFp :
        header = inFp.readline()
        header = header.strip()
        header_list = header.split(',')
        header_str = ','.join(map(str, header_list))
        outFp.write(header_str + '\n')
        for inStr in inFp:
            inStr = inStr.strip()
            row_list = inStr.split(',')
            row_list[-1] = row_list[-1].replace(',','/')
            height_str = "{0:.2f}".format(int(row_list[-2]))
            row_list[-2] = height_str
            row_str = ','.join(map(str, row_list))
            outFp.write(row_str + '\n')
print('Save.')

Save.

In [ ]:
with open("/content/drive/MyDrive/11주차_수업자료/singer1.csv","r",encoding="CP949") as inFp :
    with open("/content/drive/MyDrive/11주차_수업자료/new_singer2.csv","w",encoding="CP949") as outFp :
        header = inFp.readline()
        header = header.strip()
        header_list = header.split(',')
        idx1 = header_list.index('아이디')
        idx2 = header_list.index('이름')
        idx3 = header_list.index('평균 키')
        header_list =[header_list[idx1], header_list[idx2], header_list[idx3]]
        header_str = ','.join(map(str, header_list))
        outFp.write(header_str + '\n')
        for inStr in inFp:
            inStr = inStr.strip()
            row_list = inStr.split(',')
            if int(row_list[idx3]) >=165:
                ro_list = [row_list[idx1], row_list[idx2], row_list[idx3]]
                row_str = ','.join(map(str, row_list))
                outFp.write(row_str + '\n')
print('Save.')

Save.

In [3]:
import csv
with open("/content/drive/MyDrive/11주차_수업자료/singer2.csv","r", encoding="CP949") as inFp:
    csvReader = csv.reader(inFp)
    header_list = next(csvReader)
    print(header_list[1], header_list[6])
    for row_list in csvReader:
        youtube = int(row_list[6].replace(',',''))
        youtube = int(youtube/10000)
        print(row_list[1],str(youtube)+"만")

이름 유튜브 조회수
트와이스 333만
블랙핑크 44만
여자친구 0만
오마이걸 0만
소녀시대 111만
있지 2만
레드벨벳 4만
에이핑크 0만
우주소녀 0만
마마무 0만

In [6]:
import csv
with open("/content/drive/MyDrive/11주차_수업자료/singerA.csv", "r",encoding="CP949") as inFpA :
    with open("/content/drive/MyDrive/11주차_수업자료/singerB.csv","r",encoding="CP949") as inFpB:
        with open("/content/drive/MyDrive/11주차_수업자료/singerSum.csv","w",newline='')as outFp:
            csvReaderA = csv.reader(inFpA)
            csvReaderB = csv.reader(inFpB)
            csvWriter = csv.writer(outFp)
            header_list = next(csvReaderA)
            header_list = next(csvReaderB)
            csvWriter.writerow(header_list)

            for row_list in csvReaderA:
                csvWriter.writerow(row_list)
            for row_list in csvReaderB:
                csvWriter.writerow(row_list)
print("save")

save