<a href="https://colab.research.google.com/github/jsjj10002/Python_Basic/blob/main/ch3_3example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### for-range() 횟수 반복

In [ ]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

In [ ]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(-100,101,4):
    if i != 0:
        print(i)

-100
-96
-92
-88
-84
-80
-76
-72
-68
-64
-60
-56
-52
-48
-44
-40
-36
-32
-28
-24
-20
-16
-12
-8
-4
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [ ]:
a=[i for i in range(0,11)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(0,21,1):
    print("aa")

aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa
aa

In [ ]:
for i in range( 0,3,1):
    print("%d"%i,end=" ")

0 1 2

In [ ]:
hap=0
for i in range(11):
    hap+=i
print(hap)

55

In [ ]:
sum=0
for i in range(501,1000,2):
    sum+=i
print(sum)

187500

In [ ]:
sum=0
for i in range(500,1001,2):
    sum+=i
print(sum)

188250

In [ ]:
for i in range(2,10):
    print("%d 단 ******"%i)
    for k in range(1,10):
        print("%d X %d = %d"%(i,k,i*k))

2 단 ******
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 단 ******
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 단 ******
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 단 ******
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 단 ******
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 단 ******
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 단 ******
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 단 ******
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for i in range(2,10):
    print("%d단: "%i, end="")
    for k in range(1,10):
        print("%d "%(i*k),end="")
    print("")

2단: 2 4 6 8 10 12 14 16 18
3단: 3 6 9 12 15 18 21 24 27
4단: 4 8 12 16 20 24 28 32 36
5단: 5 10 15 20 25 30 35 40 45
6단: 6 12 18 24 30 36 42 48 54
7단: 7 14 21 28 35 42 49 56 63
8단: 8 16 24 32 40 48 56 64 72
9단: 9 18 27 36 45 54 63 72 81

In [ ]:
num=0
while num!=1:
    num = int(input("(종료 '1')몇 단 출력?: "))
    i =1
    while i<10:
        print(num, "X", i,"=",num*i)
        i+=1

(종료 '1')몇 단 출력?: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
(종료 '1')몇 단 출력?: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
(종료 '1')몇 단 출력?: 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9

In [ ]:
import random
answer = random.randint(1,100)
num = 0
while num != answer:
    num = int(input("예상 숫자 입력: "))
    if num > answer:
        print("Down")
    elif num <answer:
        print("Up")
    else:
        print("정답")

예상 숫자 입력: 50
Down
예상 숫자 입력: 25
Down
예상 숫자 입력: 13
Down
예상 숫자 입력: 6
정답

In [ ]:
for i in range(1,100):
    print("for문을 %d 번 반복" %i)
    break

for문을 1 번 반복

In [ ]:
sum = 0
while True:
    a = int(input("더할 수를 입력하시오: "))
    if a == 0:
        break
    sum += a
print(sum)

더할 수를 입력하시오: 2
더할 수를 입력하시오: 3
더할 수를 입력하시오: 4
더할 수를 입력하시오: 0
9

In [ ]:
sum = 0
for i in range(1,101):
    if i%3==0:
        continue
    sum+=i
print(sum)

3367

In [ ]:
sum = 0
for i in range(1,101):
    if i%2==0:
        continue
    sum+=i
print(sum)

2500

In [ ]:
sum = 0
for i in range(1,101):
    if i%3==0:
        break
    sum+=i
print(sum)

3

In [ ]:
num=0
while True:
    num = int(input("(종료 '1')몇 단 출력?: "))
    if num == 1:
        print("종료")
        break
    i =1
    while i<10:
        print(num, "X", i,"=",num*i)
        i+=1

(종료 '1')몇 단 출력?: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
(종료 '1')몇 단 출력?: 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
(종료 '1')몇 단 출력?: 1
종료

In [ ]:
#연습문제 20
sum = 0
for i in range(3333,10000):
    if i%1234==0:
        continue
    sum+=i
    if sum >100000:
        break
sum-=i
print(sum)

97063

In [ ]:
grade = int(input("input grade: "))
if grade >=4.0:
    print("해외연수기회부여")
else:
    print("끝")

input grade: 4
해외연수기회부여

In [ ]:
age = int(input("input age"))
if age >=65:
    print("경로우대입니다\n승차권무료발급대상")

print("이용해주셔서 감사합니다.")

input age24
이용해주셔서 감사합니다.

In [ ]:
name = input("input name: ")
score = float(input("input score: "))
if score >=60:
    print("%s: 합격\n점수: %.2f" %(name, score))
else:
    print("%s: 불합격\n점수: %.2f" %(name, score))

input name: js
input score: 68
js: 합격
점수: 68.00

In [ ]:
age = int(input("input age"))
if age >=65:
    print("경로우대입니다\n승차권무료발급대상")
else:
    print("일반 승차권 발급 가능")

print("이용해주셔서 감사합니다.")

input age55
일반 승차권 발급 가능
이용해주셔서 감사합니다.

In [ ]:
tmp = 0
num1 = int(input("num1: "))
num2 = int(input("num2: "))
if num1<num2:
    tmp = num2
    num2 = num1
    num1 = tmp
print("첫번째: %d\n두번째: %d"%(num1, num2))

num1: 2
num2: 80
첫번째: 80
두번째: 2

In [11]:
#세 개의 양의 정수를 받아 가장 큰 수를 작성
max=0
num1=int(input("fir: "))
num2=int(input("sec: "))
num3=int(input("thi: "))
if (num1 >= num2 and num2 > num3) or (num1 >= num3 and num3 > num2):
    max=num1
elif (num2>=num1 and num1 >num3) or (num2 >= num3 and num3 > num1):
    max = num2
else:
    max=num3
print(max)

fir: 80
sec: 90
thi: 90
90

In [12]:
#세 개의 양의 정수를 받아 가장 작은 수를 작성
min=0
num1=int(input("fir: "))
num2=int(input("sec: "))
num3=int(input("thi: "))
if (num1 <= num2 and num2 < num3) or (num1 <=num3 and num3 < num2):
    min=num1
elif (num2<=num1 and num1 <num3) or (num2 <= num3 and num3 < num1):
    min = num2
else:
    min=num3
print(min)

fir: 1
sec: 8
thi: 9
1

In [2]:
num=1
sum=0
while True:
    sum+=num
    num+=1
    if num >100:
        break
print(sum)

5050

In [13]:
sum=0
for i in range(101):
    sum+=i
print(sum)

5050

In [3]:
for i in range(10):
    print("*"*10)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [20]:
count=1
sum = 0
mean = 0
while count<=5:
    count+=1
    score = int(input("score: "))
    sum +=score

mean = sum/count
print("총점%d\n평균%.2f"%(sum,mean))

score: 98
score: 71
score: 72
score: 80
score: 601
총점922
평균153.67

In [22]:
for i in range(10):
    print("*"*20)

********************
********************
********************
********************
********************
********************
********************
********************
********************
********************

In [24]:
sum =0
count=0
for i in range(10):
    num=int(input())
    if  num >0:
        sum+=num
        count +=1
print(sum/count, count)

7
8
4
6
80
88
789
55
3
-30
115.55555555555556 9