<a href="https://colab.research.google.com/github/jsjj10002/Python_Basic/blob/main/ch3_2example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3-1 연습문제

In [ ]:
print("%04d"%876)
print("%5s"%"CookBook")
print("%1.1f"%123.45)

0876
CookBook
123.5

In [ ]:
100=num1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-2-38d1ad3b8cc2>, line 1)

In [ ]:
a=9
b=2
print(a%2)

1

In [ ]:
print("\\")

\

3-2예제

In [ ]:
a=3
if a>2 :
    print("a is bigger than two")

a is bigger than two

In [ ]:
age=18
if age < 20:
    print("청소년 할인")
print("환영")

청소년 할인
환영

In [ ]:
 a=input("과일 이름을 입력하세요")
 if a=="사과":
    print("입력한 과일은 사과입니다. ")

과일 이름을 입력하세요사과
입력한 과일은 사과입니다.

In [ ]:
a=int(input("숫자를 입력하세요"))
if a==3:
    print("입력한 숫자는 3")

숫자를 입력하세요3
입력한 숫자는 3

In [ ]:
age=int(input("당신의 나이는 "))
if age >= 15:
    print("볼수있어")

당신의 나이는 17
볼수있어

In [ ]:
num=3
num_input=int(input("숫자 입력"))
if num < num_input:
    print( "3보다 크다")
name="재석"
name_input=input("이름은?")
if name == name_input:
    print("본인|")

숫자 입력8
3보다 크다
이름은?재석
본인|

In [ ]:
a=False
if a==0:
    print("거짓")

거짓

In [ ]:
a=9
if type(a) == int:
    print('숫자형')

숫자형

In [ ]:
a=200
if a < 100:
    print("100보다 作다")
else:
    print("100보다 크다")

100보다 크다

In [ ]:
a=int(input("정수를 입력하세요: "))
if a%2==0:
    print("짞쑤")
else:
    print("홀쑤")

정수를 입력하세요: 4
짞쑤

In [6]:
kor, eng, mat = map(int, input().split())
if kor<40 or eng < 40 or mat < 40:
    print("과락")
else:
    print("과락 아님")

30 40 50
과락

In [25]:
name, h, w =input().split()
h=int(h);w=int(w)
bmi = w/((h/100)**2)
if 18.5 < bmi < 23:
    obe="정상"
elif 23<=bmi<25:
    obe="과체중"
elif 25<=bmi<30:
    obe="비만"
elif 30<=bmi:
    obe="고도비만"
else:
    obe="저체중"
print( "키는 %d cm, 몸무게는 %d kg 입니다\nBMI 지수는%f 입니다. %s입니다. " %(h,w,bmi,obe))

a 177 70
정상 <class 'float'>
키는 177 cm, 몸무게는 70 kg 입니다
BMI 지수는22.343516 입니다. 정상입니다.